@font-face {
    font-family: Golos UI;
    src: url('font/Golos UI/Golos UI_Regular.ttf');
  }
body {
    height: 100%;
    margin: 0;
    background: url("image/home/homebg.png") no-repeat center;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* overflow: hidden; */
    font-family: 'Golos UI', sans-serif !important;
}
button.btn.redflagbtn {
  margin-top:1.5vw;
  background-color: #ED1C24;
  color: white;
  padding-right: 2vw;
  padding-left: 2vw;
  border: 0px solid transparent;
  margin-left: 1vw;
}
.salabha-asna-bracket-border:before {
  content: "";
  border-left: 2px solid #a95b23;
  border-top: 2px solid #a95b23;
  border-bottom: 2px solid #a95b23;
  margin-right: 10px;
  padding: 90px 5px 20px 0px;
}
p#homecolorpara1 {
  color: #A1332B;
}
p#homecolorpara2 {
  color: #A1332B;
}
.homehead {
  color: #ED1C24;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 1.6vw;
}
/* .navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
} */

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 
a.dropdown-toggle {
    color: #000;
    font-size: 18px;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
}
a {
    color: black;
    text-decoration: none;
}
#bujang-asana-body{
    height: 100%;
    margin: 0;
    background: url("image/bujasana/bhujang_asana_bn.png") no-repeat center;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: 'Golos UI', sans-serif !important;
}
.dropbtn {
    background-color: transparent;
    color: black;
    padding: 9px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
  .dropdown {
    position: relative;
    display: inline-block;
  }
  /* .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  } */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 210px;
    margin-left: -1.5vw;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
}
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: #ddd;
    }
  .dropdown:hover .dropdown-content {
      display: block;
    }

  .dropdown:hover .dropbtn {
      background-color: transparent;
    }
    .dropbtn:hover .dropdown-content {
        display: block;
      }
  
    .dropbtn:hover .dropbtn {
        background-color: transparent;
      }
      .dropdown-content {
        background-color: #efc986;
        margin-top: -0.8vw;
      }
      .dropdown-content a {
        color: #a1332b;
      }
      .dropdown-content a:hover {
        background-color: #ffedb7;
    }
    button.btn.acknowledgebtn {
      margin-top: 1.5vw;
  }
p{
    color: #000;font-size: 18px;
}
span.br {
  display: block;
  margin-bottom: 9px;
}
.bhu-asna-bracket-border p {
  color: #A1332B;
}
.veerbha-asna-bracket-border p {
  color: #A1332B;
}
li.nav-item {
  margin-right: 6px!important;
}
.dropdown {
  margin-right: 6px!important;
}
.trikon-asna-bracket-border p {
  color: #A1332B;
}
.bandha-asna-bracket-border p {
  color: #A1332B;
}
.hala-asna-bracket-border p {
  color: #A1332B;
}
.head {
  color: #ED1C24;
  font-size: 34px;
  margin-bottom: 1.6vw;
  font-weight: bold;
}
h3.subhead {
  color: #ED1C24;
  font-size: 25px;
  margin-top: -1.4vw;
  padding-right: 1vw;
  margin-bottom: 1.6vw;
}
.salabh_head {
  color: black;
  
  font-size: 1.5rem;
  margin-bottom: 1.2vw;
}
h2.salabh_head:before {
  content: 'ŚALABHĀSANA';
  color: #a1332b;
  font-size: 2rem;
}
.pasci_head {
  color: black;
  font-size: 1.5rem;
  margin-bottom: 1.3vw;
}
h2.pasci_head:before{
  content:'PAŚCIMOTTĀNĀSANA';
  color: #a1332b;
  font-size: 2rem;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 18px;
}
.navbar-brand-logo{
    width: 100px !important;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #000;
}
#navbarSupportedContent{
    /* margin-bottom: -30px; */
    padding-top: 1.4vw;
}
.home-gif {
  width: 1000px;
  margin-top: -20px;
}
.bhujasan-gif{
    width: 600px;
    margin-top: -50px;
}
.home-top-content{
    padding: 30px 173px 0px 180px;
    padding-top: 0px;
}
.bhu-asna-top-content{
    padding-top: 15px;
    padding-right: 3vw;
}
.jumbotron {
    background: transparent !important;
    padding-top: 2.4vw;
    padding-left: 2.5vw; 
}
.pt--100{
    padding-top: 100px;
}
.pt--50{
    padding-top: 50px;
}
.pt--20{
    padding-top: 20px;
}
.bb-1{
    border-bottom: 1px solid;
}
.navbar{padding: 0px;} 
.bracket-border{
  padding: 20px 0px;
}
.bracket-border p{  
  display: inline-block;
}
.bracket-border:before {
   content: " ";
   border-left:2px solid #a95b23;
   border-top:2px solid #a95b23;
   border-bottom:2px solid #a95b23;
   margin-right:10px;
   padding: 100px 5px 20px 0px;}
.bracket-border:after{
  content:" ";
  padding: 100px 5px 20px 0px;
  border-right:2px solid #a95b23;
  border-top:2px solid #a95b23;
  border-bottom:2px solid #a95b23;
  margin-left:10px;
}
.bhu-asna-bracket-border{
    padding: 0px 0px;
  }
  .trikon-asna-bracket-border{
    padding: 0px 0px;
  }
  .bhu-asna-bracket-border p{  
    display: inline-block;
    padding-right: 5.6vw;
  }
  .veerbha-asna-bracket-border p{  
    display: inline-block;
    padding-right: 5.6vw;
  }
  .trikon-asna-bracket-border p{  
    display: inline-block;
    padding-right: 5.3vw;
  }
  .bandha-asna-bracket-border p{  
    display: inline-block;
    padding-right: 5.3vw;
  }
  .hala-asna-bracket-border p{  
    display: inline-block;
    padding-right: 5.3vw;
  }
  .dhanur-asna-bracket-border{
    padding: 0px 0px;
  }
  .dhanur-asna-bracket-border p{  
    display: inline-block;
  }
  .pasci-asna-bracket-border{
    padding: 0px 0px;
  }
  .pasci-asna-bracket-border p{  
    display: inline-block;
  }
  .salabha-asna-bracket-border{
    padding: 0px 0px;
  }
  .salabha-asna-bracket-border p{  
    display: inline-block;
  }
  .sarvang-asna-bracket-border{
    padding: 0px 0px;
  }
  .sarvang-asna-bracket-border p{  
    display: inline-block;
  }
  .padahast-asna-bracket-border{
    padding: 0px 0px;
  }
  .padahast-asna-bracket-border p{  
    display: inline-block;
    text-align: justify;
    margin-right: 0.8vw
  }
  .bhu-asna-bracket-border:before {
    content: "";
    border-left: 2px solid #a95b23;
    border-top: 2px solid #a95b23;
    border-bottom: 2px solid #a95b23;
    margin-right: 10px;
    padding: 135px 5px 20px 0px;
}
.trikon-asna-bracket-border:before {
  content: "";
  border-left: 2px solid #a95b23;
  border-top: 2px solid #a95b23;
  border-bottom: 2px solid #a95b23;
  margin-right: 10px;
  padding: 215px 5px 20px 0px;
}
.bandha-asna-bracket-border:before {
  content: "";
  border-left: 2px solid #a95b23;
  border-top: 2px solid #a95b23;
  border-bottom: 2px solid #a95b23;
  margin-right: 10px;
  padding: 192px 5px 20px 0px;
}
.hala-asna-bracket-border:before {
  content: "";
  border-left: 2px solid #a95b23;
  border-top: 2px solid #a95b23;
  border-bottom: 2px solid #a95b23;
  margin-right: 10px;
  padding: 192px 5px 20px 0px;
}
.veerbha-asna-bracket-border:before {
  content: "";
  border-left: 2px solid #a95b23;
  border-top: 2px solid #a95b23;
  border-bottom: 2px solid #a95b23;
  margin-right: 10px;
  padding: 255px 5px 20px 0px;
}
#para1 {
  padding-right: 6.9vw;
  /* padding-right: 8.9vw; */
  margin-left: 0.1vw;
  color: #A1332B;
  text-align: justify;
}
img.small_l1 {
  width: 2.9vw;
  margin-left: 7px;
}
h2.flaghead {
  color: #ED1C24;
  font-size: 25px;
  margin-bottom: 1vw;
  margin-top: 1.6vw;
  position: relative;
}
.bhu-asna-bracket-border:after {
  content: " ";
  padding: 67px 5px 20px 0px;
  border-right: 2px solid #a95b23;
  border-top: 2px solid #a95b23;
  border-bottom: 2px solid #a95b23;
  padding: 135px 5px 20px 0px;
  margin-left: -5.9vw;
}
.trikon-asna-bracket-border:after {
  content: " ";
  padding: 67px 5px 20px 0px;
  border-right: 2px solid #a95b23;
  border-top: 2px solid #a95b23;
  border-bottom: 2px solid #a95b23;
  padding: 215px 5px 20px 0px;
  margin-left: -5.9vw;
}
.bandha-asna-bracket-border:after {
  content: " ";
  padding: 67px 5px 20px 0px;
  border-right: 2px solid #a95b23;
  border-top: 2px solid #a95b23;
  border-bottom: 2px solid #a95b23;
  padding: 192px 5px 20px 0px;
  margin-left: -4.9vw;
}
.hala-asna-bracket-border:after {
  content: " ";
  padding: 67px 5px 20px 0px;
  border-right: 2px solid #a95b23;
  border-top: 2px solid #a95b23;
  border-bottom: 2px solid #a95b23;
  padding: 192px 5px 20px 0px;
  margin-left: -5.9vw;
}
.veerbha-asna-bracket-border:after {
  content: " ";
  padding: 67px 5px 20px 0px;
  border-right: 2px solid #a95b23;
  border-top: 2px solid #a95b23;
  border-bottom: 2px solid #a95b23;
  padding: 255px 5px 20px 0px;
  margin-left: -5.9vw;
}
  .dhanur-asna-bracket-border:before {
    content: "";
    border-left:2px solid #a95b23;
    border-top:2px solid #a95b23;
    border-bottom:2px solid #a95b23;
    margin-right:10px;
    padding: 40px 5px 20px 0px;}

 .dhanur-asna-bracket-border:after{
   content:"";
   padding: 40px 5px 20px 0px;
   border-right:2px solid #a95b23;
   border-top:2px solid #a95b23;
   border-bottom:2px solid #a95b23;
   margin-left: -3vw; 
 }
  .pasci-asna-bracket-border:before {
    content: "";
    border-left:2px solid #a95b23;
    border-top:2px solid #a95b23;
    border-bottom:2px solid #a95b23;
    margin-right:10px;
    padding: 47px 5px 20px 0px;
  }

 .pasci-asna-bracket-border:after{
   content:" ";
   padding: 47px 5px 20px 0px;
   border-right:2px solid #a95b23;
   border-top:2px solid #a95b23;
   border-bottom:2px solid #a95b23; 
 }
 .sarvang-asna-bracket-border:before {
  content: "";
  border-left:2px solid #a95b23;
  border-top:2px solid #a95b23;
  border-bottom:2px solid #a95b23;
  margin-right:10px;
  padding: 65px 5px 20px 0px;
}
button.btn.acknowledgebtn {
  background-color: #ED1C24;
  color: white;
  padding-right: 2vw;
  padding-left: 2vw;
  border: 0px solid transparent;
}
h2.flaghead:after {
  content: "";
  display: block;
  width: 25vw;
  height: 4.6px;
  background: #ED1C24;
  left: 8vw;
  top: 50%;
  position: absolute;
}
.sarvang-asna-bracket-border:after{
 content:" ";
 padding: 65px 5px 20px 0px;
 border-right:2px solid #a95b23;
 border-top:2px solid #a95b23;
 margin-left: -3.4vw;
 border-bottom:2px solid #a95b23; 
}
  .salabha-asna-bracket-border:after{
    content:" ";
    padding: 90px 5px 20px 0px;
    border-right:2px solid #a95b23;
    border-top:2px solid #a95b23;
    border-bottom:2px solid #a95b23; 
  }
  .padahast-asna-bracket-border:before {
    content: "";
    border-left:2px solid #a95b23;
    border-top:2px solid #a95b23;
    border-bottom:2px solid #a95b23;
    margin-right:10px;
    padding: 90px 5px 20px 0px;}
    .padahast-asna-bracket-border:after{
        content:" ";
        padding: 90px 5px 20px 0px;
        border-right:2px solid #a95b23;
        border-top:2px solid #a95b23;
        border-bottom:2px solid #a95b23; 
      }

@media only screen and (min-width: 992px) {
    /* .navbar-expand-lg .container{        
    max-width: 1300px;
    } */
      .container{        
        max-width: 1300px;
      }
}

/*    Wide Mobile Layout: 480px+. */

@media only screen and (max-width: 767px) {
    #navbarSupportedContent{
        margin-bottom: 5px;
        padding-top: 0px;
    }
    .home-top-content{
        padding: 0;
    }
    .bhu-asna-content{
        padding: 0;
    }
    .home-gif{
        width: 300px;
        margin-top: 0;
    }
    .bhujasan-gif{
        width: 350px;
        margin-top: 0;
    }
    .navbar{padding: 0.5rem 1rem;}
    .bracket-border:before{display:none;}
    .bracket-border::after{display: none;}
    .bhu-asna-bracket-border:before{display:none;}
    .trikon-asna-bracket-border:before{display:none;}
    .trikon-asna-bracket-border::after{display: none;}
    .bandha-asna-bracket-border:before{display:none;}
    .bandha-asna-bracket-border::after{display: none;}
    .hala-asna-bracket-border:before{display:none;}
    .hala-asna-bracket-border::after{display: none;}
    .veerbha-asna-bracket-border:before{display:none;}
    .veerbha-asna-bracket-border::after{display: none;}
    .bhu-asna-bracket-border::after{display: none;}
    .pasci-asna-bracket-border:before{display:none;}
    .pasci-asna-bracket-border::after{display: none;}
    .salabha-asna-bracket-border:before{display:none;}
    .salabha-asna-bracket-border::after{display: none;}
    .padahast-asna-bracket-border:before{display:none;}
    .padahast-asna-bracket-border::after{display: none;}
    body{overflow: auto;}
    #bujang-asana-body{overflow: auto;}
  }

/*    iPad and mini pc 1200px+. */

@media only screen and (max-width: 1200px) { 
    #navbarSupportedContent{
        margin-bottom: 5px;
        padding-top: 1.4vw;
    }
    body{overflow: auto;}
    #bujang-asana-body{overflow: auto;}
    #bujang-asana-body{ overflow-x: hidden;}

}
@media (max-width: 992px) { 
  img.small_l1 {
    width: auto;
    margin-left: 25vw;
    text-align: center!important;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.bhu-asna-bracket-border p {
  display: inline-block;
  padding-right: 5.6vw;
  line-height: 9vw;
}
.trikon-asna-bracket-border p {
  display: inline-block;
  padding-right: 5.6vw;
  line-height: 9vw;
}
.bandha-asna-bracket-border p {
  display: inline-block;
  padding-right: 5.6vw;
  line-height: 9vw;
}

  h2.flaghead:after {
    content: "";
    display: block;
    width: 40vw;
    height: 4.6px;
    background: #ED1C24;
    left: 30vw;
    top: 50%;
    position: absolute;
}
 
}